<!DOCTYPE html>
{%load static %}
<html lang="en"><head></head><body>​
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>wine</title>
        <form>
            <input type="text" style="display:none;"/>
            <input type="text" name="Search" id="Search" onkeypress="enterkey()">
            <button type="button" onclick="searchclick()">검색</button>
        </form>

        <div id="search">   
        </div>
        {% if tweet %}
        <div>
        <p1>{{ tweet.id }}</p1>
        <div>
        <p1>{{ tweet.name }}</p1>
        <div>
        <p1>"{{ tweet.country }}</p1>
        <div>
        <p1>{{ tweet.content }}</p1>
        <div>
        <p1><img src="{{ tweet.image }}"</p1>
            
        {% endif %}
 
</body>
</html>
<script src="{% static 'js/search.js' %}"> </script>