<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="review.css" rel="stylesheet" type="text/css"/>
        <script src="review.js"></script>
        <title>리뷰모아보기</title>
    </head>
    <body>
        <form>
            <nav>
                <ul>
                    <div class="top">
                        <li style="list-style-type:none">
                            <a href="#" class="home">홈</a>
                            <a href="#">로그아웃</a>
                            <a href="#">내 프로필</a>
                        </li>
                    </div>
                    <div class="side">
                        <li style="list-style-type:none">
                            <a href="#">내 회원정보<br></a>
                            <a href="#">나의 리뷰<br></a>
                            <a href="#">나의 와인 리스트</a>
                        </li>
                    </div>
                </ul>
            </nav>
            <div class="list">
                 <span id="review" style="width:195px;" box></span>
            </div>
        </form>

    </body>
</html>