<!DOCTYPE html>
{%load static %}
<html lang="en"><head></head><body>​
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>wine</title>
        {% comment %} <div class="wrapper">
                <div class="Search">
                    <form>
                        <input type="text" placeholder="Search" name="Search" id="Search" onkeyup="if(window.event.keyCode==13){Search()}">
                    </form>
                </div>       
        </div> {% endcomment %}
        <form>
            <input type="text" style="display:none;"/>
            <input type="text" name="Search" id="Search" onkeypress="enterkey()">
            <button type="button" onclick="searchclick()">검색</button>
        </form>
        {% if tweet %}
<div id="search"><a href="/main/read/{{ tw.id }}">  
     {% endif%}   
</div>
{% if tweet %}
    <div id="all_name"><a href="/main/read/{{ tw.id }}">
        {% endif%}
    </div>
        <div id="search">      
        </div>
            <div class="btn_container"> 
            </div>        
                <div class="checkbox_container" id="all_names">       
                </div>
                    <div class="">
                        <button class="submit_container" onclick='AllTagPost()'>확인</button>
                    </div>
                    <div id="commemt_html">
                    </div>
</body>
</html>
<script src="{% static 'js/search.js' %}"> </script>